* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  color: #F2F2F2;
  /* color: #317360; */
  width: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  background: #2B6555;
  /* background: rgba(183, 227, 228, 89); */
  width: 100%;
  align-items: center;
  justify-content: center;
}

#video {
  /* border: 2px solid #214D40; */
  background: #214D40;
  /* border: 2px solid rgba(229, 75, 75, 90); */
  /* width: 45%; */
  height: 40%;
  margin: 20px;
  filter: drop-shadow(5px 5px 10px #214D40);
  border-radius: 8px;
}

#button {
  background-color: #214D40;
  font-family: 'Roboto', sans-serif;
  /* background-color: rgba(229, 75, 75, 90); */
  width: 100px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  transition: background-color 800ms ease-in-out 300ms;
}

#button:hover {
  background-color: green;
  cursor: pointer;
}

h2 {
  font-family: 'Caprasimo', cursive;
  font-size: 3em;
}